{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include '/header.html' %}

<body>

    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container-fluid flash-body">

            {% for message in messages %}
            <p class="flashes mx-auto">{{ message }}</p>
            {% endfor %}

        </div>
        {% endif %}
        {% endwith %}
    </main>



<h1 class="mx-auto text-center">PASSWORDS</h1>

<div class="mx-auto"><i class="fa-solid fa-circle-plus" id="new-pass-btn"></i>
</div>

<div class="form-body mx-auto hide" id="new-pass">
    {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'}) }}
</div>

{% for password in passwords %}

<div class="password-box mx-auto">
    <div class="row password-row">
        <div class="col">
            <h4 class="vertical-center">Website Name:</h4>
        </div>
        <div class="col">
            <div class="vertical-center">{{ password.website_name }}</div>
        </div>
    </div>
    <div class="row password-row">
        <div class="col">
            <h4 class="vertical-center">User Name:</h4>
        </div>
        <div class="col">
            <div class="vertical-center">{{ password.website_user }}</div>
        </div>
    </div>
    <div class="row password-row">
        <div class="col">
            <h4 class="vertical-center">Email:</h4>
        </div>
        <div class="col">
            <div class="vertical-center">{{ password.email }}</div>
        </div>
    </div>
    <div class="row password-row">
        <div class="col">
            <h4 class="vertical-center">Password:</h4>
        </div>
        <div class="col">
            <div class="vertical-center">{{ password.website_password }}</div>
        </div>
    </div>
    <div class="text-end">
        <a type="button" class="text-black-50" data-bs-toggle="modal" data-bs-target="#edit-{{ password.id }}"
           href=""><i
                class="fa-solid fa-pencil"></i></a></i>
        <a type="button" data-bs-toggle="modal" data-bs-target="#delete-{{ password.id }}" class="text-black-50"
           href=""><i class="fa-solid fa-trash"></i></a>
    </div>

</div>


<!-- MODAL DELETE-->
<div class="modal fade" id="delete-{{ password.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete this password?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('delete_password', pass_id = password.id, form=form, passwords=passwords ) }}"
                   type="button" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>

<!--MODAL EDIT-->

<div class="modal fade" id="edit-{{ password.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit your password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ url_for('edit_password', pass_id=password.id) }}">
                    <div class="mb-3">
                        <label for="Email1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="Email1" name="email" value="{{ password.email }}">

                    </div>
                    <div class="mb-3">
                        <label for="Website1" class="form-label">Website Name</label>
                        <input type="text" class="form-control" id="Website1" name="website_name"
                               value="{{ password.website_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="User1" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="User1" name="website_user"
                               value="{{ password.website_user }}">
                    </div>
                    <div class="mb-3">
                        <label for="Password1" class="form-label">Password</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-11 pass-col">
                                    <input type="password" class="form-control password-toggle-1" id="Password1"
                                           name="website_password" value="{{ password.website_password }}">
                                </div>
                                <i class="fa-solid fa-eye edit-pass-1 col pass-col align-items-center d-flex"
                                   onclick="togglePassEdit()"></i>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="Master1" class="form-label" aria-describedby="masterHelp">Master Password</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-11 pass-col">
                                    <input type="password" class="form-control password-toggle-2" id="Master1"
                                           name="master_password">
                                </div>
                                <i class="fa-solid fa-eye edit-pass-2 col pass-col align-items-center d-flex"
                                   onclick="togglePassEdit()"></i>
                            </div>
                        </div>

                        <div id="masterHelp" class="form-text">Use your Master Password to confirm Changes</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

{% endfor %}


{% include '/footer.html' %}

</body>

{% endblock %}